@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
 
}

.App{
  margin-top: 7rem;
}

.content{
  display: flex;
  justify-content: space-evenly;
}

.left-section{
  border: 1px solid  rgb(10, 82, 154);
  padding: 1rem;
  box-shadow: 10px 10px 10px rgb(58,58,58) ;
  border-top: 30px solid  rgb(10, 82, 154);
  border-radius: 5px;
}

.left-section h3{
  color: rgb(10, 82, 154);
  
}

.content1::after{
  content: "\a";
  white-space: pre;
  
}

.content2 ::before{
  content: "\a";
  white-space: pre;
}

.left-section p{
  color: rgb(75,74,77);
  margin-top: 1rem;

}

.left-section button{
  margin-top: 1rem;
  margin-left: .3rem;

  width: 9rem;
  padding: .6rem;
  border: 2px  dashed;
  border-radius: .8rem;
  border-color:rgb(10, 82, 154);
  color: rgb(10, 82, 154);
  font-weight: 500;
}

.list-content{
  border: 1px solid  rgb(10, 82, 154);
  padding: 1rem;
  box-shadow: 10px 10px 10px rgb(58,58,58) ;
  border-top: 30px solid  rgb(10, 82, 154);
  border-radius: 5px;
}

.list-content h3{
   color: rgb(10, 82, 154);

}

.list-content li{
  list-style: none;
  margin-top: 1rem;
}

.btn{
 margin-top: 1rem;
 padding: 1rem;
}
.btn button{
  width: 9rem;
  padding: .6rem;
  border: 2px  dashed;
  border-radius: .8rem;
  border-color:rgb(10, 82, 154);
  color: rgb(10, 82, 154);
  font-weight: 500;
}
